<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Account Password</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link href="/stylesheets/changePassword.css" rel="stylesheet">
</head>

<body>
    <%- include('nav') %>

        <section>
            <form id="changePasswordForm" method="POST" action="/account/changePassword">
                <h1>Change Password</h1>

                <p>
                    <label for="currentPassword">Current password:</label><br>
                    <input type="password" id="currentPassword" name="currentPassword"
                        placeholder="Please enter your current password" value="<%= formData.currentPassword %>">
                    <i class="bi bi-eye-slash toggle-password" data-target="currentPassword"></i>
                </p>

                <p>
                    <label for="newPassword">New password:</label><br>
                    <input type="password" id="newPassword" name="newPassword" placeholder="Please enter new password"
                        value="<%= formData.newPassword %>">
                    <i class="bi bi-eye-slash toggle-password" data-target="newPassword"></i>
                </p>

                <p>
                    <label for="confirmPassword">Confirm new password:</label><br>
                    <input type="password" id="confirmPassword" name="confirmPassword"
                        placeholder="Please confirm password" value="<%= formData.confirmPassword %>">
                    <i class="bi bi-eye-slash toggle-password" data-target="confirmPassword"></i>
                </p>

                <div id="error-message" style="display:none;" class="alert alert-danger"></div>
                
                <div id="success" style="display: none; color: rgb(27, 100, 27); background-color: rgb(149, 219, 149);"
                    class="alert alert-success"></div>

                                <button type="submit">Save Change</button>
            </form>
        </section>

        <%- include('footer') %>

            <script>
                document.querySelectorAll('.toggle-password').forEach(function (toggle) {
                    toggle.addEventListener('click', function () {
                        const targetId = this.getAttribute('data-target');
                        const passwordInput = document.getElementById(targetId);

                        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                        passwordInput.setAttribute('type', type);

                        this.classList.toggle('bi-eye-slash');
                        this.classList.toggle('bi-eye');
                    })
                })

                 document.getElementById('changePasswordForm').addEventListener('submit', function (event) {
                        event.preventDefault()

                        // Collect form data
                        const formData = new FormData(this);

                        console.log(formData);

                        // Send a POST request using fetch
                        fetch('/account/changePassword', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded',
                            },
                            body: new URLSearchParams(formData).toString(),
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.json();
                            })
                            .then(data => {
                                if (data.success) {
                                    var successDiv = document.getElementById('success')
                                    successDiv.innerText = data.message
                                    successDiv.style.display = 'block'
                                    location.reload()
                                } else {
                                    var errorDiv = document.getElementById('error-message')
                                    errorDiv.innerText = data.error
                                    errorDiv.style.display = 'block'
                                }
                            })
                            .catch(error => {
                                var errorDiv = document.getElementById('error-message')
                                errorDiv.innerText = 'An error occurred while change password'
                                errorDiv.style.display = 'block'
                            })
                    })

            </script>
</body>

</html>